@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form>

    @Html.TextBox("keyword")
    <input type="submit" value="search" />
</form>
@Html.Partial("_PagerdListPartial", Model)
@using (Html.BeginForm())
{ 
    <table class="table"> 
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>

            <a href=" @Url.Action("Index", "Products", new { sortBy = "+Price", keyword = ViewBag.keyword }) ">↑</a>
            @Html.DisplayNameFor(model => model.Price)
            <a href=" @Url.Action("Index", "Products", new { sortBy = "-Price", keyword = ViewBag.keyword }) ">↓</a>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>
@*建立一個陣列*@
@{
    var dataforEdit = Model.ToArray();
}

    @for (var i=0; i<dataforEdit.Length;i++)
    {
        @Html.HiddenFor(modelItem => dataforEdit[i].ProductId)
        <tr>
            <td>
                @Html.EditorFor(modelItem => dataforEdit[i].ProductName)
            </td>
            <td class="@(dataforEdit[i].Price >50 ? "text-danger" : "" )">
                @Html.EditorFor(modelItem => dataforEdit[i].Price)
                @*如果要在view中顯示特定的資料顯示方式可直接用@string.Format*@
                @*@string.Format("{0:N0}", item.Price)*@
            </td>
            <td>
                @Html.EditorFor(modelItem => dataforEdit[i].Active)
            </td>
            <td>
                @Html.EditorFor(modelItem => dataforEdit[i].Stock)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = dataforEdit[i].ProductId }) |
                @Html.ActionLink("Details", "Details", new { id = dataforEdit[i].ProductId }) |
                @Html.ActionLink("Delete", "Delete", new { id = dataforEdit[i].ProductId })
            </td>
        </tr>
    }

</table>
        <input type="submit" value="save">
    }
